<div class="body" >
  <mat-card class="body-card">
    <div class="header">
      <mat-card-header >
        <mat-card-title>Busca Cep</mat-card-title>
        <mat-card-subtitle>Digite o cep abaixo</mat-card-subtitle>
      </mat-card-header>
    </div>
    <form>
      <div class="form-body">
        <div class="item">

          <mat-form-field >
            <div class="form-input">
              <input matInput placeholder="CEP" minlength="8" [(ngModel)]="cep" name="cep" maxlength="8"> <mat-icon class="close" (click)="cleanSearch()">close</mat-icon>
            </div>
          </mat-form-field>
        </div>
        <button  [disabled]="formIsInvalid()" class="button" mat-raised-button color="primary" (click)="onSubmit()">Search</button>
      </div>
    </form>
  </mat-card>
  <div class="result">
    <mat-card class="result-card" *ngIf="address && showData ">
      <mat-icon class="close-result" (click)="cleanSearch()">close</mat-icon>
      <div class="data" *ngFor="let field of ['cep', 'logradouro', 'bairro', 'localidade', 'uf','ddd']">
        <div *ngIf="showData"> <b>{{ field }}: </b>{{ address[field] }}  </div>
      </div>
    </mat-card>

    <mat-card>
      <div class="no-data" *ngIf="!showData && address">  Endereço não encontrado   </div>
    </mat-card>
  </div>
</div>