.body {
    width: 100% !important;
    height: 100% !important;
    max-height: 100% !important;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;



    mat-card {
        border-radius: 30px;
    }

    .body-card {
        padding: 30px;
        padding-top: 0px;
        border-bottom: groove;
        border-color: #171313;
    }

    .body-card:hover {
        box-shadow: 0 8px 8px 8px rgba(0, 0, 0, .2), 0 8px 8px 0 rgba(0, 0, 0, .14), 0 8px 8px 0 rgba(0, 0, 0, .12) !important;
        transform: translate3d(0, 0, 0);
        transition: background .4s cubic-bezier(.25, .8, .25, 1), box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    }

    .form-body {
        display: grid;
        align-items: center;
    }

    .data {
        padding: 10px
    }

    .close {
        cursor: pointer;
    }

    .close-result {
        position: absolute;
        right: 15px;
        top: 11px;
        cursor: pointer;
    }

    .form-input {
        display: flex;
    }

    .no-data {
        padding: 30px;
    }

    .button {
        border-radius: 30px;
    }


    button {
        margin: 0;
        font-family: Roboto, "Helvetica Neue", sans-serif;
        background: linear-gradient(-55deg, #E6F9AF, #8BBEB2,#384E77,#18314F);
        background-size: 400% 400%;
        animation: gradient 10s ease infinite;
    }

    button.gradient {}

    .result {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .result:hover {
        border-radius: 30px;
        box-shadow: 0 8px 8px 8px rgba(0, 0, 0, .2), 0 8px 8px 0 rgba(0, 0, 0, .14), 0 8px 8px 0 rgba(0, 0, 0, .12) !important;
        transform: translate3d(0, 0, 0);
        transition: background .4s cubic-bezier(.25, .8, .25, 1), box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    }

    .result-card {
        padding: 10px;
    }

    .header {
        width: 100%;
    }

    .mat-mdc-text-field-wrapper {
        border-radius: 28px 0 0 28px !important;
        min-width: 28px !important;
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }

        25% {
            background-position: 75% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        50% {
            background-position: 75% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }
}